name: Linting with golangci-lint
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  golangci:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.18
      - uses: actions/checkout@v4
      - uses: golangci/golangci-lint-action@v3
        with:
          working-directory: pkg
          args: --issues-exit-code=1 --tests=false
